{{ if .enable }}

{{ $odd := false }}
{{ $type := .type }}
{{ $lead := .lead }}
{{ $layout := .layout | default "primary" }}
{{ $class := .class }}
<section class="section publications card-list">
    <div class="container-fluid">
        <div class="row pb-5">
            <div class="col section-heading text-center">
                <h2 class="mb-0">{{.title}}</h2>
                <p class="mt-0">{{ .subtitle | markdownify }}</p>
            </div>
        </div> 
        {{ range $i, $data := .itemlists }}
            <div class="container {{if ne $i 0}} mt-5 {{end}}">
                <div class="row">
                    <div class="col d-flex justify-content-between mb-4">
                        <div>
                            <h3>{{.title}}</h3>
                            <p>{{ .subtitle | markdownify }}</p>
                        </div>
                        {{ $maini := $i}}

                        <hr class="hr">
                    </div>
                </div>
            </div>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-1">
                {{ range $i, $data := .card }}
                    <div class="col mb-3 blogBox{{$maini}} {{if ne $i 0}} moreBox{{$maini}}{{end}}" {{if gt $i 3 }} style="display:none;"{{end}}>
                        <div class="card item h-100 border-0">
                            <div class="bd-placeholder-img">  
                                {{if .image}}                              
                                    <a href="{{.link}}" {{with .external}} target="_blank"{{end}}>
                                        <img src="{{.image}}" class=" img-fluid ">
                                    </a>
                                    {{end}}
                                {{with .youtube}}

                                <div style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;">
                                    <iframe src="https://www.youtube.com/embed/{{.}}" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border:0;" allowfullscreen title="YouTube Video"></iframe>
                                </div>

                                {{end }}
                                {{with .vimeo}}

                                <div style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;">
                                    <iframe src="https://player.vimeo.com/video/vimeo" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border:0;" title="vimeo video" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                                  </div>

                                {{end }}
                                
                            </div>
                            
                            <div class="card-body">
                                <h3 class="my-3 card-text"><a href="{{.link}}" {{with .external}} target="_blank"{{end}}>{{.title}}</a></h3>
                                {{ with .content}}
                                    <p class="card-text">{{ . }} 
                                    </p>
                                {{end}}
                            </div>

                        </div>
                    </div>

                   
                {{end}}
            </div>
            {{with .button}}
                <!-- <div class="row">
                    <div class="col text-center my-4">
                        <a href="{{ .link }}"  class="btn btn-primary d-block d-sm-inline-block hover-ripple" {{ if .popup }} data-bs-toggle="modal" data-bs-target="{{ .link }}"{{end}}>{{ .label }}</a>
                    </div>
                </div> -->

                <div id="loadMore{{$i}}"  class="text-center" style="">
                    <a href="#" class="btn btn-primary d-block d-sm-inline-block hover-ripple">Load More</a>
                 </div>
            {{end}}

             
            <script>
                            
                $( document ).ready(function () {
                    $(".moreBox{{$i}}").slice(0, 3).show();
                    if ($(".blogBox{{$i}}:hidden").length != 0) {
                        $("#loadMore{{$i}}").show();
                    }		
                    $("#loadMore{{$i}}").on('click', function (e) {
                        console.log("clciekd more");
                        e.preventDefault();
                        $(".moreBox{{$i}}:hidden").slice(0, 6).slideDown();
                        if ($(".moreBox{{$i}}:hidden").length == 0) {
                            $("#loadMore{{$i}}").fadeOut('slow');
                        }
                    });
                });

            </script>

        {{end}}
                
        </div>
        
    
    </div>
</section>
{{end}}

