<div class="container contact-form my-5">
           
            <form method="post" action="https://formspree.io/f/xjvlzykw" class="col-md-8 offset-2 ">
                <h2>GET IN TOUCH</h2>
                <p class="color-text">Got a question for our Support team? Just want to say hi?</p>
               <div class="row mt-5">
                   <div class="col">
                        <!-- Name input -->
                        <div class="mb-4">
                            <!-- <label class="form-label" for="name">Full Name*</label> -->
                            <input class="form-control" id="name" type="text" placeholder="Name" data-sb-validations="required" required />
                        </div>
                   </div>                   
                   <div class="col">
                            <!-- Name input -->
                            <div class="mb-4">
                                <!-- <label class="form-label" for="name">Company Name*</label> -->
                                <input class="form-control" id="cname" type="text" placeholder="Company Name" data-sb-validations="required" required />
                            </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                         <!-- Name input -->
                         <div class="mb-4">
                             <!-- <label class="form-label" for="name">Email*</label> -->
                             <input class="form-control" id="email" type="email" placeholder="Email" data-sb-validations="required" />
                         </div>
                    </div>                   
                    <div class="col">
                             <!-- Name input -->
                             <div class="mb-4">
                                 <!-- <label class="form-label" for="name">Phone*</label> -->
                                 <input class="form-control" id="phone" type="tel" placeholder="Phone" data-sb-validations="required" />
                             </div>
                     </div>
                 </div>
                 <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <textarea name="txtMsg" class="form-control" placeholder="Message*" style="width: 100%; height: 150px;"></textarea>
                        </div>
                    </div>

                 </div>

                 <!-- Form submit button -->
                <div class="row">
                    <div class="col text-right d-flex my-5 justify-content-end">
                        <input type="hidden" name="_subject" id="subject" value="Contact US">
                        <button class="btn btn-primary " type="submit">Submit</button>
                    </div>
                </div>
            </form>
</div>