<footer>
  <div class="container">
    <div class="row row-cols-1 row-cols-md-5 py-5 mt-5 border-top">
      <div class="col mb-5 mb-md-2">
        <a href="/" class="d-flex align-items-center mb-3 link-dark text-decoration-none justify-content-center">
          <img src="/images/logo-footer.png" alt="logo">
        </a>
      </div> 
      
      <div class="col mb-5 mb-md-2">
        <h5>SOLUTIONS</h5>
        <ul class="nav flex-column">
          {{ range .Site.Params.footerlink }}
            <li class="nav-item mb-2"><a href="{{.url}}" class="nav-link p-0 ">{{.name}}</a></li>
          {{ end }}
        </ul>
      </div>
  
      <div class="col mb-5 mb-md-2">
        <h5>PUBLICATIONS</h5> 
        <ul class="nav flex-column">
          {{ range .Site.Params.publicationslinks }}
            <li class="nav-item mb-2"><a href="{{.url}}" class="nav-link p-0 ">{{.name}}</a></li>
          {{end}}
        </ul>
      </div>
  
      <div class="col mb-5 mb-md-2">
        <h5>ITO33</h5>
        <ul class="nav flex-column">
          {{ range .Site.Params.ito33 }}
            <li class="nav-item mb-2"><a href="{{.url}}" class="nav-link p-0 ">{{.name}}</a></li>
          {{end}}
        </ul>
      </div>
  
      <div class="col mb-5 mb-md-2">
         <h5>CONTACT US</h5>
         <ul class="nav flex-column">
          {{ range .Site.Params.contact }}
            <li class="nav-item mb-2"><a href="{{.url}}" class="nav-link p-0 ">{{.name}}</a></li>
          {{end}}
        </ul>
      </div>

      
    </div>

  </div>
</footer>
  
<div class="footer-bottom">
  <div class="container">
    <div class="d-flex justify-content-between py-4">
      <p class="mb-0 d-none d-md-block"> &copy; Copyrighted to ITO33.com - Developed By Eburr </p>
      <ul class="list-unstyled d-flex mb-0 m-auto me-md-0 d-none">
        {{range .Site.Params.socail}}
          <li class="ms-3"><a class="link-light" href="{{.url}}"><i class="{{.icon}}"></i></a></li>
        {{end}}
      </ul>
    </div>

  </div>

   
  </div>
  {{ partial "request-demo.html" . }}
  {{ partial "apply.html" . }}

  
