  
  <nav class="navbar navbar-expand-sm px-md-4 py-3 ito33-nav" aria-label="Third navbar example">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src="/images/logo.png" alt="logo" class="img-fluid">  
        <!-- <img src="/images/tags.png" alt="tag" class="tagline d-none d-lg-block"> -->
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample03">
        <ul class="navbar-nav ms-auto mb-2 mb-sm-0 align-items-center">
                {{ $currentPage := . }}
                {{ range .Site.Menus.main }}
                    {{ if .HasChildren }}
                        <li class="{{ if $currentPage.HasMenuCurrent "main" . }}active{{ end }}">
                            <a href="#">
                                {{ .Pre }}
                                <span>{{ .Name }}</span>
                            </a>
                        </li>
                        <ul class="dropdown-menu" aria-labelledby="dropdown03">
                            {{ range .Children }}
                                <li class="{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">
                                    <a href="{{ .URL }}">{{ .Name }}</a>
                                </li>
                            {{ end }}
                        </ul>
                    {{ else }}
                        <li class="nav-item">
                            <a href="{{ .URL }}"  class="nav-link {{ if $currentPage.HasMenuCurrent "main" . }}active{{ end }}">
                                {{ .Pre }}
                                <span>{{ .Name }}</span>
                            </a>
                        </li>
                    {{ end }}
                {{ end }}
                <li class="nav-item">
                    <div class="input-group">
                        <span class="input-group-text" id="basic-addon1"><i class="fa fa-search"></i></span>
                        <input type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="basic-addon1">
                      </div>
                </li>

                <li class="nav-item">
                    <a href="#" class="btn btn-primary rounded-pill fw-bold">REQUEST A DEMO</a>
                </li>



        </ul>
      </div>
    </div>
  </nav>