<section class="section publications">
    <div class="container">
        <div class="row pb-5">
            <div class="col section-heading text-center">
                <h2>Publications</h2>
                <p>Check out our latest publication</p>
            </div>
        </div> 

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
              <div class="card  h-100">              

                <img src="/images/pub-1.jpg" class="bd-placeholder-img card-img-top">
    
                <div class="card-body">
                    <h3 class="my-3"> IMPLIED PROBABILITY OF BAIL-IN</h3>
                    <p class="card-text">An immediate, fundamental change in thinking is required to take the panic out of the Contingent Convertible/AT1 Bond market, Philippe Henrotte tells Wilmott.
                    </p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card  h-100">
                <img src="/images/pub-2.jpg" class="bd-placeholder-img card-img-top">

    
                <div class="card-body">
                    <h3 class="my-3">CONTINGENT CLAIM. Portrait</h3>
                  <p class="card-text">An immediate, fundamental change in thinking is required to take the panic out of the Contingent Convertible/AT1 Bond market, Philippe Henrotte tells Wilmott.
                </p>
             
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card  h-100">
                <img src="/images/pub-3.jpg" class="bd-placeholder-img card-img-top">

    
                <div class="card-body">
                    
                    <h3 class="my-3">Financial Investments </h3>
                  <p class="card-text">An immediate, fundamental change in thinking is required to take the panic out of the Contingent Convertible/AT1 Bond market, Philippe Henrotte tells Wilmott.
                </p>
               
                </div>
              </div>
            </div>

        </div>
        
        <div class="row">
            <div class="col text-center mt-5">
                <a href="#" class="btn btn-primary ">Show More</a>
            </div>
        </div>
    
    
    </div>
</section>

