{{ $data := .Params.topInfo  }}
{{if  $data.enable }}
<div class="breadcrumb-outter  {{$data.bg}}">
    <div class="container">
        <div class="row">
            <div class="col">            
                <ul class="{{$data.type}}">
                    {{range $data.list }}
                        <li class="align-items-{{.position}} {{.class}}">
                            {{ if .link }}
                                <a href="{{.link}}">
                            {{ end }} {{ with .image}}<img src="{{.}}" alt="" class="mb-4">{{end}} <span> {{ .text | safeHTML }}</span>
                            {{ if .link }}</a>{{end}}
                        </li>
                    {{end}}
                </ul>    
            </div>
        </div>
    </div>
</div>
{{end}}